@{
    ViewBag.Title = "About.";
}
<h2>@ViewBag.Title</h2>

<p>This website is designed to help inventory James's many toy cars.</p>
<p>Currently, he has the following brands in his toy box:</p>
<dir>
    <li>Hot Wheels</li>
    <li>Matel</li>
    <li>Tesco</li>
    <li>Disney</li>
</dir>